.back-top{
    position: absolute;
    right: 60px;
    bottom: 80px;
    z-index: 99999;
}

#back-btn{
    transform: translateY(-110vh);
    transition: 1s;
    background: rgb(233, 233, 233);
    z-index: 99999;
}

#back-tran{
    transform: translateY(0vh);
    transition: 1s;
    background: rgb(233, 233, 233);
    position: fixed;
    right: 60px;
    bottom: 80px;
}

#back-tran:hover{
    background: rgb(108, 122, 224);
}
