@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#active-color {
  color: rgb(108, 122, 224);
  font-size: 16px;
}

.header {
  width: 100%;
  height: 105px;
  display: flex;
  position: absolute;
  background: transparent;
  transition: 0.5s;
  z-index: 999;
}

.header__sticky {
  top: -21px;
  background-color: #fff;
  position: fixed;
  transform: translateY(20px);
  z-index: 9999;
  height: 90px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/*------------- HEADER PC --------------- */

.header__logo {
  width: 7%;
}

#logo {
  position: absolute;
  padding: 43px 0 0 170px;
  width: 150px;
  top: -10px;
}

/*  */
.header__list {
  width: 70%;
  padding-left: 200px;
}

.header__item {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 105px;
  padding-left: 37px;
  text-decoration: none;
}

.header__item:hover {
  color: rgb(108, 122, 224);
  text-decoration: none;
}

#menu-close {
  font-size: 19px;
  right: 30px;
  top: 40px;
  cursor: pointer;
}

/*  */
.header__bonus {
  width: 23%;
  line-height: 105px;
  padding-right: 170px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

/*------------------- HEADER TABLET & Mobile------------- */

.menu__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 9999;
  transform: translateX(100%);
  transition: 0.5s;
  height: 100vh;
}

.menu__item {
  z-index: 999;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: rgb(51, 51, 51);
  padding: 10px 40px 20px 40px;
  font-weight: 500;
}

.menu__item:hover {
  color: rgb(108, 122, 224);
}

#menu-logo {
  padding: 43px 0 28px 25px;
}

#menu-close {
  color: #fff;
  position: absolute;
  font-size: 19px;
  right: 30px;
  top: 40px;
  cursor: pointer;
}

/*  */
#select {
  color: #fff;
  font-size: 20px;
  line-height: 105px;
  position: absolute;
  right: 0;
  padding-right: 30px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

/*  */

.header__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.616);
  width: 100%;
  height: 100vh;
}

#nav-mobile-input:checked ~ .menu__list {
  transform: translateX(0%);
}

.menu__social {
  color: #fff;
  padding-top: 30px;
  font-size: 17px;
  padding-left: 60px;
  cursor: pointer;
}

.menu__social--icon {
  padding-left: 20px;
}

.menu__social--icon:hover {
  color: rgb(228, 216, 4);
}

/*  */

a.dropdown-item {
  display: inline;
}

/*------------------- RESPONSIVE --------------------*/

/* pc */
@media (max-width: 1590px) {
  #logo {
    position: absolute;
    padding: 43px 0 0 30px;
  }

  .header__bonus {
    padding-right: 30px;
  }
}

@media (max-width: 1097px) {
  .header__logo {
    width: 5%;
  }

  .header__bonus {
    width: 20%;
  }

  .header__list {
    width: 75%;
  }
}

/* Mobile & tablet */
@media (max-width: 1023px) {
  .header__list {
    display: none;
  }

  #select {
    display: block;
    margin-top: -15px;
  }

  .header__logo {
    width: 50%;
  }

  .header__bonus {
    width: 50%;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .header__list {
    width: 0%;
  }
}

@media (max-width: 395px) {
  .none {
    display: none;
  }
}
